# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [19]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import gkey

In [20]:
#!pip install gmaps

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from api_keys import gkey

In [70]:
weather_path = "data/weather.csv"
weather_df = pd.read_csv(weather_path)
weather_df.head()

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Puerto Ayora,-0.74,-90.35,71.01,81,93,7.00,EC,1606031446
1,Arraial do Cabo,-22.97,-42.03,71.69,79,84,9.69,BR,1606031527
2,Ridgecrest,35.62,-117.67,52.00,41,82,2.84,US,1606031510
3,Hermanus,-34.42,19.23,64.00,81,4,3.00,ZA,1606031528
4,Port Alfred,-33.59,26.89,69.10,72,100,15.57,ZA,1606031528

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(api_key = gkey)

In [4]:
locations = weather_df[["Latitude", "Longitude"]].astype(float)
humidity = weather_df["Humidity"].astype(float)

In [117]:
locations = weather_df[["Latitude", "Longitude"]].astype(float)
fig = gmaps.figure(center=(44,20), zoom_level=4)
hum_layer = gmaps.heatmap_layer(locations, weights = humidity, dissipating=False, max_intensity=100, point_radius= 1)
fig.add_layer(hum_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [68]:
weather_df

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,Puerto Ayora,-0.74,-90.35,71.01,81,93,7.00,EC,1606031446
1,Arraial do Cabo,-22.97,-42.03,71.69,79,84,9.69,BR,1606031527
2,Ridgecrest,35.62,-117.67,52.00,41,82,2.84,US,1606031510
3,Hermanus,-34.42,19.23,64.00,81,4,3.00,ZA,1606031528
4,Port Alfred,-33.59,26.89,69.10,72,100,15.57,ZA,1606031528
...,...,...,...,...,...,...,...,...,...
563,Itoman,26.12,127.67,75.20,73,75,16.11,JP,1606031661
564,Zhengjiatun,43.51,123.51,12.52,93,0,5.23,CN,1606031662
565,Mandalgovi,45.76,106.27,12.72,87,0,11.45,MN,1606031662
566,Laguna,38.42,-121.42,44.60,81,1,1.01,US,1606031662
567,Kloulklubed,7.04,134.26,86.00,66,75,5.82,PW,1606031662

In [71]:
# A max temperature lower than 80 degrees but higher than 70.
goldilocks = weather_df[(weather_df["Max Temp"] < 80) & (weather_df["Max Temp"] > 70)]
# Wind speed less than 10 mph. Moderate cloudiness of less than 15 percent
nonwindy = goldilocks[(goldilocks["Wind Speed"] < 10)]
ideal_weather = nonwindy[(nonwindy["Cloudiness"] < 15)]
ideal_weather

,City,Latitude,Longitude,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
18,Itigi,-5.70,34.48,79.27,54,0,7.81,TZ,1606031531
81,Harindānga,22.04,88.32,78.80,36,0,5.82,IN,1606031547
103,Cayenne,4.93,-52.33,73.40,100,0,6.87,GF,1606031553
159,Touros,-5.20,-35.46,71.60,94,0,4.70,BR,1606031566
166,Kondoa,-4.90,35.78,76.66,60,8,7.43,TZ,1606031296
175,Jodhpur,26.29,73.03,79.41,16,9,3.44,IN,1606031570
216,Ixtapa,20.70,-105.20,75.00,87,0,2.64,MX,1606031580
242,Pedernales,18.04,-71.74,77.09,69,5,3.04,DO,1606031586
258,Faya,18.39,42.45,71.60,18,0,9.17,SA,1606031589
342,Itupiranga,-5.13,-49.33,75.20,100,0,1.36,BR,1606031609
366,Praia,14.92,-23.51,71.60,88,0,6.93,CV,1606031615
385,Aswān,24.09,32.91,70.14,32,0,9.80,EG,1606031619
405,Najrān,17.49,44.13,75.20,27,0,3.36,SA,1606031624
421,Tufānganj,26.32,89.67,78.55,37,0,5.79,IN,1606031482
424,Makakilo City,21.35,-158.09,78.80,65,1,8.05,US,1606031628
441,Vila do Maio,15.13,-23.22,71.60,88,0,6.93,CV,1606031633
442,Atar,20.52,-13.05,72.32,25,0,9.46,MR,1606031633
467,Praia,14.92,-23.51,71.60,88,0,6.93,CV,1606031639
526,Saint-Louis,16.33,-15.00,71.60,73,0,2.24,SN,1606031653
527,Bouna,9.27,-3.00,79.47,30,0,3.20,CI,1606031653

In [93]:
hotel_df = ideal_weather.drop(['Max Temp','Cloudiness','Wind Speed', 'Date'], axis = 1) 
hotel_df

              City  Latitude  Longitude  Humidity Country
18           Itigi     -5.70      34.48        54      TZ
81      Harindānga     22.04      88.32        36      IN
103        Cayenne      4.93     -52.33       100      GF
159         Touros     -5.20     -35.46        94      BR
166         Kondoa     -4.90      35.78        60      TZ
175        Jodhpur     26.29      73.03        16      IN
216         Ixtapa     20.70    -105.20        87      MX
242     Pedernales     18.04     -71.74        69      DO
258           Faya     18.39      42.45        18      SA
342     Itupiranga     -5.13     -49.33       100      BR
366          Praia     14.92     -23.51        88      CV
385          Aswān     24.09      32.91        32      EG
405         Najrān     17.49      44.13        27      SA
421      Tufānganj     26.32      89.67        37      IN
424  Makakilo City     21.35    -158.09        65      US
441   Vila do Maio     15.13     -23.22        88      CV
442           Atar     20.52     -13.05        25      MR
467          Praia     14.92     -23.51        88      CV
526    Saint-Louis     16.33     -15.00        73      SN
527          Bouna      9.27      -3.00        30      CI

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [94]:
hotel_df

              City  Latitude  Longitude  Humidity Country
18           Itigi     -5.70      34.48        54      TZ
81      Harindānga     22.04      88.32        36      IN
103        Cayenne      4.93     -52.33       100      GF
159         Touros     -5.20     -35.46        94      BR
166         Kondoa     -4.90      35.78        60      TZ
175        Jodhpur     26.29      73.03        16      IN
216         Ixtapa     20.70    -105.20        87      MX
242     Pedernales     18.04     -71.74        69      DO
258           Faya     18.39      42.45        18      SA
342     Itupiranga     -5.13     -49.33       100      BR
366          Praia     14.92     -23.51        88      CV
385          Aswān     24.09      32.91        32      EG
405         Najrān     17.49      44.13        27      SA
421      Tufānganj     26.32      89.67        37      IN
424  Makakilo City     21.35    -158.09        65      US
441   Vila do Maio     15.13     -23.22        88      CV
442           Atar     20.52     -13.05        25      MR
467          Praia     14.92     -23.51        88      CV
526    Saint-Louis     16.33     -15.00        73      SN
527          Bouna      9.27      -3.00        30      CI

In [95]:
hotel_df['Hotel Name'] = ""
hotel_df['Address'] = ""

hotel_df

              City  Latitude  Longitude  Humidity Country Hotel Name Address
18           Itigi     -5.70      34.48        54      TZ
81      Harindānga     22.04      88.32        36      IN
103        Cayenne      4.93     -52.33       100      GF
159         Touros     -5.20     -35.46        94      BR
166         Kondoa     -4.90      35.78        60      TZ
175        Jodhpur     26.29      73.03        16      IN
216         Ixtapa     20.70    -105.20        87      MX
242     Pedernales     18.04     -71.74        69      DO
258           Faya     18.39      42.45        18      SA
342     Itupiranga     -5.13     -49.33       100      BR
366          Praia     14.92     -23.51        88      CV
385          Aswān     24.09      32.91        32      EG
405         Najrān     17.49      44.13        27      SA
421      Tufānganj     26.32      89.67        37      IN
424  Makakilo City     21.35    -158.09        65      US
441   Vila do Maio     15.13     -23.22        88      CV
442           Atar     20.52     -13.05        25      MR
467          Praia     14.92     -23.51        88      CV
526    Saint-Louis     16.33     -15.00        73      SN
527          Bouna      9.27      -3.00        30      CI

In [111]:
params = {
    "types": "lodging",
    "radius": 5000,
    "key": gkey}
hotel_name = []
hotel_address = []

for index, row in hotel_df.iterrows():
    
    lat = row['Latitude']
    lon = row["Longitude"]
    city = row['City']
    location = params["location"] = f"{lat},{lon}"
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json" 
    response = requests.get(base_url, params=params)
    json_response = response.json()
    hotels = json_response['results']
    
    try:
        
            hotel_df.iloc[idx, -2] = hotels[0]["name"]
            hotel_df.iloc[idx, -1] =  hotels[0]["vicinity"]
    
    

   # print(hotels)   
#     name = json_response["results"][0]["name"]
#     hotel_name.append(name)

    #hotel_address.append(hotels[0]["vicinity"])
    
    
    #Address  = hotels[0]["vicinity"]
   # hotel_df.append(Hotel_Name)
    #hotel_address.append(Address)
   # idx = idx +1
    
    except:
        pass
#print(hotel_name)            
#hotel_df["hotel_name"]=hotel_name  
        print(f"No accomodations found in {city}")

No accomodations found in Saint-Louis

In [108]:
hotel_df

,City,Latitude,Longitude,Humidity,Country,Hotel Name,Address
18,Itigi,-5.70,34.48,54,TZ,Hostel San Sebastiano,Itigi
81,Harindānga,22.04,88.32,36,IN,QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TA...,Dakshin Akraberia
103,Cayenne,4.93,-52.33,100,GF,Hôtel Le Dronmi,"Avenue du Général de Gaulle, Cayenne"
159,Touros,-5.20,-35.46,94,BR,INN NEW HORIZON,"Rua do Chafariz, 10 - Conjunto Novo Horizonte,..."
166,Kondoa,-4.90,35.78,60,TZ,Kinyuma Lodge,Kondoa
175,Jodhpur,26.29,73.03,16,IN,"Umaid Bhawan Palace, Jodhpur","Circuit House Road, Jodhpur"
216,Ixtapa,20.70,-105.20,87,MX,Container Inn Puerto Vallarta,"Carretera a, Puerto Vallarta - Tepic 4634, Gua..."
242,Pedernales,18.04,-71.74,69,DO,Hotel Costa Marina,"calle Cacique Enriquillo 16 Villa de Mar, Pede..."
258,Faya,18.39,42.45,18,SA,مقبرة ال مجمل,Unnamed Road 62576،
342,Itupiranga,-5.13,-49.33,100,BR,JAIRO ORLINDO VIEIRA,CRUZEIRO DO SUL CEP 68;580.000
366,Praia,14.92,-23.51,88,CV,LT Aparthotel,"Palmarejo Baixo, Praia"
385,Aswān,24.09,32.91,32,EG,Nuba Nile,"9 Ahmed Ibn Al Abtal, El-Tahrir City, Aswan"
405,Najrān,17.49,44.13,27,SA,محمد هادي ال فطيح,Najran
421,Tufānganj,26.32,89.67,37,IN,Hotel Riju,"Shishumela Road, Tufanganj New Town, ward No. 02"
424,Makakilo City,21.35,-158.09,65,US,Marriott's Ko Olina Beach Club,"92-161 Waipahe Place, Kapolei"
441,Vila do Maio,15.13,-23.22,88,CV,Residence 'I Delfini',"Rua Ponta Preta, Morro"
442,Atar,20.52,-13.05,25,MR,Oumou Elghoura,"Mbarka Oumara Derriere l'hopital regional, أطار‎"
467,Praia,14.92,-23.51,88,CV,LT Aparthotel,"Palmarejo Baixo, Praia"
526,Saint-Louis,16.33,-15.00,73,SN,Hotel Reserve,Bouna
527,Bouna,9.27,-3.00,30,CI,,

In [113]:
hotel_df = hotel_df.rename(columns={"Latitude":"Lat", "Longitude":"Lng"})
hotel_df

,City,Lat,Lng,Humidity,Country,Hotel Name,Address
18,Itigi,-5.70,34.48,54,TZ,Hostel San Sebastiano,Itigi
81,Harindānga,22.04,88.32,36,IN,QARI ARIF BILLAH HOUSE. & THE INTERNATIONAL TA...,Dakshin Akraberia
103,Cayenne,4.93,-52.33,100,GF,Hôtel Le Dronmi,"Avenue du Général de Gaulle, Cayenne"
159,Touros,-5.20,-35.46,94,BR,INN NEW HORIZON,"Rua do Chafariz, 10 - Conjunto Novo Horizonte,..."
166,Kondoa,-4.90,35.78,60,TZ,Kinyuma Lodge,Kondoa
175,Jodhpur,26.29,73.03,16,IN,"Umaid Bhawan Palace, Jodhpur","Circuit House Road, Jodhpur"
216,Ixtapa,20.70,-105.20,87,MX,Container Inn Puerto Vallarta,"Carretera a, Puerto Vallarta - Tepic 4634, Gua..."
242,Pedernales,18.04,-71.74,69,DO,Hotel Costa Marina,"calle Cacique Enriquillo 16 Villa de Mar, Pede..."
258,Faya,18.39,42.45,18,SA,مقبرة ال مجمل,Unnamed Road 62576،
342,Itupiranga,-5.13,-49.33,100,BR,JAIRO ORLINDO VIEIRA,CRUZEIRO DO SUL CEP 68;580.000
366,Praia,14.92,-23.51,88,CV,LT Aparthotel,"Palmarejo Baixo, Praia"
385,Aswān,24.09,32.91,32,EG,Nuba Nile,"9 Ahmed Ibn Al Abtal, El-Tahrir City, Aswan"
405,Najrān,17.49,44.13,27,SA,محمد هادي ال فطيح,Najran
421,Tufānganj,26.32,89.67,37,IN,Hotel Riju,"Shishumela Road, Tufanganj New Town, ward No. 02"
424,Makakilo City,21.35,-158.09,65,US,Marriott's Ko Olina Beach Club,"92-161 Waipahe Place, Kapolei"
441,Vila do Maio,15.13,-23.22,88,CV,Residence 'I Delfini',"Rua Ponta Preta, Morro"
442,Atar,20.52,-13.05,25,MR,Oumou Elghoura,"Mbarka Oumara Derriere l'hopital regional, أطار‎"
467,Praia,14.92,-23.51,88,CV,LT Aparthotel,"Palmarejo Baixo, Praia"
526,Saint-Louis,16.33,-15.00,73,SN,Hotel Reserve,Bouna
527,Bouna,9.27,-3.00,30,CI,,

In [114]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [116]:
# Add marker layer ontop of heat map

markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig

Figure(layout=FigureLayout(height='420px'))